{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}


{% block title %}
Shakespearean Translator and Generator
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">Welcome to the Shakespearean English translator!</h1>

      {{ wtf.quick_form(form) }}

      <p class="pt-5"><strong>Prompt: {{ prompt }}</strong></p>
      <p class="pt-5"><strong>Generated text: {{ generation }}</strong></p>

    </div>
  </div>
</div>

{% endblock %}
